.post {
    width: 100%;
}
.post > h2 {
    font-weight: bold;
    line-height: 1.25rem;
    color: black;
    font-size: 1.75rem;
}


/* Post Meta START */
.post-meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: #c2c2c2;
    margin-bottom: 25px;
}
.post-meta > span {
    padding: 0 10px;
}
.post-meta > span a {
    text-decoration: none;
}
/* Post Meta END */

/* Post Content START */
.post-content {
    width: 100%;
    line-height: 1.75rem;
}
/* Post Content END */

