.page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.page > h2 {
    font-size: 1.1rem;
    margin: 25px 0 10px;
}

.page-content {
    line-height: 1.25rem;
}